# Terraform local artifacts
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
**/crash.log

# Local backend credentials/config
config/backend-config.json
config/terraform-modules-config.json
config/import-map.json

# Temporary files
*.tmp
